*{
     border: none;
     list-style-type: none;
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}
body{
     /* background: #fbf8f5; */
background: #000;
}
.bg{
     width: 100%;
     z-index: 1;
position: relative;
opacity: 0.5;
}
.main-head{
padding:0 1rem ;
background: transparent;
z-index: 999;
top: 0;
position: absolute;
width: 100%;
}
.navbar{
display: flex;
justify-content: space-between;
align-items: center;

}
.brand{
     display: flex;
     align-items: center;
     gap: 1rem;
}
.brand-logo{
width: 4rem;
height: 4rem;
border-radius: 50%;
}
.brand-head{
          font-family: 'Play', sans-serif;
          color: white;
          font-size: 2rem;
}
.active{
     color: tomato;
}
ul{
display: flex;
align-items: center;
color: white;
gap: 1rem;
margin-right: 3rem ;
cursor: pointer;
}
.nav-item:hover{
     color: tomato;
}
.nav-item{
     font-family: 'Play', sans-serif;
}
.home{
position: absolute;
top: 20%;
z-index: 999;
padding: 0 3rem;
color: white;
}
.name{
     font-size: 4rem;
font-family: 'Roboto Flex', sans-serif;
}
.about{
     font-family: 'Play', sans-serif;
     color: whitesmoke;
}
.welcome{
     font-family: 'Play', sans-serif;
     font-size: 1.3rem;
}
.buttons{
     display: flex;
     gap: 1rem;
     margin-left: .5rem;
     font-family: 'Play', sans-serif;
margin-top: 2rem;
}
.about-me{
     padding: .5rem;
     background: transparent;
     border: 2px solid white;
     color: white;
     border-radius: .5rem;

}
.projects{
     padding: .5rem;
     background: transparent;
     border: 2px solid white;
     color: white;
     border-radius: .5rem;
}
.about-me:hover{
     transform: scale(1.2);
     color: tomato;
}
.projects:hover{
     transform: scale(1.2);
     color: tomato;
}
.about-section{
padding: 3rem 3rem;
 background: #fbf8f5;
 /* background: white; */

}
.container{

}
.left{

}
.bio-img{
     width: 90%;
     border-radius:50%;
}
.right{

}
.bio-p{
     font-family: 'Play', sans-serif;
        color: gray;
}
.about-head{
font-family: 'Roboto Flex', sans-serif;
font-weight: 900;
}
.socials{
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     background: #111;
     border-radius: 3rem;
     padding: 1rem;
     box-shadow: 2px 2px 6px 3px gray;
     cursor: pointer;

}
.media{
          height: 2rem;
     width: 1.5rem;
     color: white;
}
.media:hover{
     transform: scale(1.8);
}
.skill-section{
 background:#eeeeeb;
 padding:3rem;
}
.skills-wrap{
     display: flex;
     justify-content: space-evenly;
}
.skills-wrap img{
height: 6rem;
width: 6rem;
}