*{
     border: none;
     list-style-type: none;
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}
body{
     /* background: #fbf8f5; */
background: #000;
}
.bg{
     width: 100%;
     z-index: 1;
position: relative;
opacity: 0.5;
}
.main-head{
padding:0 1rem ;
background: transparent;
z-index: 999;
top: 0;
position: absolute;
width: 100%;
}
.navbar{
display: flex;
justify-content: space-between;

}
.brand{
     display: flex;
     align-items: center;
     gap: 1rem;
}
.brand-logo{
width: 4rem;
height: 4rem;
border-radius: 50%;
}
.brand-head{
          font-family: 'Play', sans-serif;
          color: white;
          font-size: 2rem;
}
.active{
     color: tomato;
}
ul{
display: flex;
align-items: center;
color: white;
gap: 1rem;
margin-right: 3rem ;
cursor: pointer;
}
.nav-item:hover{
     color: tomato;
}
.nav-item{
     font-family: 'Play', sans-serif;
}
.home{
position: absolute;
top: 20%;
z-index: 999;
padding: 0 3rem;
color: white;
}
.name{
     font-size: 4rem;
font-family: 'Roboto Flex', sans-serif;
}
.about{
     font-family: 'Play', sans-serif;
     color: whitesmoke;
}
.welcome{
     font-family: 'Play', sans-serif;
     font-size: 1.3rem;
}
.buttons{
     display: flex;
     gap: 1rem;
     margin-left: .5rem;
     font-family: 'Play', sans-serif;
margin-top: 2rem;
}
.about-me{
     padding: .5rem;
     background: transparent;
     border: 2px solid white;
     color: white;
     border-radius: .5rem;

}
.projects{
     padding: .5rem;
     background: transparent;
     border: 2px solid white;
     color: white;
     border-radius: .5rem;
}
.about-me:hover{
     transform: scale(1.2);
     color: tomato;
}
.projects:hover{
     transform: scale(1.2);
     color: tomato;
}